<%- include('./partials/header.ejs') %>

<p class="mb-5 heading-3 light">About page</p>
<br>
<a class="link-button" target="_blank" href="<%- links.location %>">View Map</a>

<%- include('./partials/footer.ejs') %>
